*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background:linear-gradient(180deg,rgb(183, 137, 22),rgb(133, 160, 12));
    width:100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background: #4a3302;
    padding:20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFF;
    border-radius: 5px;
    transition: all 0.2s ease;
}
.container:hover{
    box-shadow: 1px 1px 5px 2px #FFF;
}
h1{
    text-decoration: underline;
}
#text{
    font-size: 16px;
    margin: 10px;
    padding: 5px;
    width:200px;
    height:150px;
    border-radius: 5px;
    resize: none;
}
#cnt-btn{
    margin:8px;
    padding:8px;
    font-size: 17px;
    font-weight: 550;
    color:#fff;
    background: #8b5e04;
    border:none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    transition:all 0.2s ease;
}

#cnt-btn:hover{
    background: #ce900a;
    box-shadow: 2px 2px 5px 1px #FFF;
    color:black
}
#result{
    font-size: 18px;
    font-weight: 400;
}